---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ backup_pvc_name }}"
  namespace: "{{ backup_ocp_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 5Gi